/* Spinner */
/* Spinner Wrapper */
.loading-spinner .loader {
    width: 100% !important;
    height: 100% !important;
    background: #fff !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    transform: unset !important;
    z-index: 1001;
}

.viberent_back_button {
    border: unset;
    background-color: unset;
    padding: 0 !important;
    color: #4d96d5;
    position: relative !important;
}

.loading-spinner .loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-spinner .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #333;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

p.lead {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1)
}

.btn-outline-light:hover,
.btn-outline-light:focus {
    color: #de6262 !important;

}

.viberent_item_layout .fa-circle,
.viberent_category_layout .fa-circle {
  color: #4d96d5 !important;
}

.viberent_item_layout .fa-shopping-cart,
.viberent_category_layout .fa-shopping-cart,
.viberent_place_order .fa-shopping-cart {
    font-size: 30px;
    color: #4d96d5 !important;
}
.viberent_item_layout .fa-shopping-cart:hover,
.viberent_category_layout .fa-shopping-cart:hover {
    color: #4d96d5 !important;
}

.viberent_item_layout .fa-stack[data-count]:after,
.viberent_category_layout .fa-stack[data-count]:after,
.viberent_place_order .fa-stack[data-count]:after {
    position: absolute;
    right: 0;
    top: 0;
    content: attr(data-count);
    font-size: 10px;
    padding: 0.5em 0;
    border-radius: 999px;
    line-height: .75em;
    background-color: white;
    color: #4d96d5;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    background: white;
    border: 2px solid;
}

form.ajax-layoutbase-form .loading,
form.ajax-enquiry-form .loading {
    display: none;
    width: 30px !important;
    height: 30px !important;
    top: 0;
    left: 30px;
    position: relative;
}

form.ajax-enquiry-form {
    padding-bottom: 20px;
}