.viberent_item_layout {
    background-color: white !important;
}

header {
   position: relative !important;
}

.viberent_item_layout select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.viberent_item_layout .btn_mycart {
   color: #4d96d5 !important;
   position: fixed;
   z-index: 5;
   margin-right: -65px;
}

.viberent_item_layout h4, .viberent_item_layout h5 {
    font-weight: 600 !important;
}

.viberent_item_layout .new-booking {
    color: green !important;
    font-size: 20px !important;
    margin: 0 0 5px 0 !important;
    font-weight: 600 !important;
}

.viberent_item_layout #period {
    height: 25px !important;
    margin-top: 0 5px !important;
}
.viberent_item_layout .item-summary .minimize .less, .viberent_category_layout .item-summary .minimize .more{
   color: #007bff;
}

.viberent_item_layout .product-image img {
    width: 100% !important;
    height: 150px !important;
}

.viberent_item_layout .rental-period label {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.viberent_item_layout .rental-period form * {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
}

.viberent_item_layout .item-category-box .item-info {
    display: flex !important;
    justify-content: space-between !important;
    margin: 1em 0 !important;
}

.viberent_item_layout .main-container .item-info img {
    border-radius: 10px !important;
}

.viberent_item_layout .btn_available {
    background-color: #d4f296 !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 15px !important;
}

.viberent_item_layout .btn_book, .viberent_item_layout .btn_details, .viberent_item_layout .btn_availability {
    background-color: transparent !important;
    padding: 10px 0px !important;
    border-radius: 5px !important;
    border: none !important;
    font-size: 18px !important;
}

.viberent_item_layout .product-title h2 {
    margin: 0 !important;
    padding: 0px !important;
    font-weight: 500 !important;
}

.viberent_item_layout .product-pricing {
    color: green !important;
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0px !important;
}

.viberent_item_layout .product-name {
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
}

.viberent_item_layout .available {
    width: 20% !important;
}

.viberent_item_layout .available div {
    padding-bottom: 10px !important;
}

.viberent_item_layout .available div:not(:first-child) {
    padding-left: 10px !important;
}

.viberent_item_layout .item-details {
    width: 50% !important;
}

.viberent_item_layout .product-image {
    width: 25% !important;
    margin: 0 !important;
    padding: 0px !important;
}

.viberent_item_layout .product-image img {
    margin: 0 !important;
    padding: 0px !important;
}

.viberent_item_layout input[placeholder="Select End Date"] {
    padding-left: 6px !important;
}

.viberent_item_layout input[placeholder="Select Start Date"] {
    padding-left: 6px !important;
}

.viberent_item_layout .input-group {
    display: flex !important;
    max-width: 100% !important;
}
    
.viberent_item_layout .item-summary p {
    font-size: 18px !important;
}

.viberent_item_layout #my-dates {
    visibility: hidden;
}

.viberent_item_layout .item-summary p {
    word-wrap: break-word !important;
}
    
.viberent_item_layout .pagination {
   display: inline-block !important;
   width: 100% !important;
   text-align: center !important;
   margin: 0 0 50px !important;
   position: relative !important;
}

.viberent_item_layout .pagination ul li {
   float: left !important;
   list-style-type: none !important;
}

.viberent_item_layout .pagination ul li span {
   background-color: #fff !important;
   position: relative !important;
   display: inline-block !important;
   width: 38px !important;
   height: 38px !important;
   line-height: 38px !important;
   text-align: center !important;
   color: #b4b4b4 !important;
   font-size: 18px !important;
   text-decoration: none !important;
   text-transform: uppercase !important;
   cursor: pointer !important;
   white-space: nowrap !important;
   border: 2px solid #e5e5e5 !important;
   outline: 0 !important;
   -o-border-radius: 4px !important;
   -moz-border-radius: 4px !important;
   -webkit-border-radius: 4px !important;
   -ms-border-radius: 4px !important;
   border-radius: 4px !important;
   text-shadow: none !important;
   -webkit-transition: all .3s ease-in-out !important;
   -moz-transition: all .3s ease-in-out !important;
   -ms-transition: all .3s ease-in-out !important;
   -o-transition: all .3s ease-in-out !important;
   transition: all .3s ease-in-out !important;
}

.viberent_item_layout .pagination ul li span a {
   color: #b4b4b4 !important;
   text-decoration: none !important;
}

.viberent_item_layout .pagination ul li.active span {
   color: #fff !important;
   background-color: #0a68a4 !important;
   border-color: #0a68a4 !important;
}

.viberent_item_layout .categories ul li.active a {
   color: #fff !important;
   background-color: #0a68a4 !important;
}

.viberent_item_layout .pagination ul li:last-child span, .viberent_item_layout .pagination ul li:first-child span {
   width: 100px !important;
}

.viberent_item_layout .product-quantity {
    padding: 5px !important;
    border-radius: 3px !important;
    border: #E0E0E0 1px solid !important;
    width:50px !important;
	color: #000;
}

.viberent_item_layout .btnAddAction {
    padding: 5px 10px !important;
    margin: 0px !important;
    background-color: #efefef !important;
    border: #E0E0E0 1px solid !important;
    color: #211a1a !important;
    float: right !important;
    text-decoration: none !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    background-color: #0a68a4 !important;
    color: white !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    text-transform: unset !important;
    text-decoration: none !important;
}

.viberent_item_layout .btnAddAction:hover {
   text-decoration: none !important;
}

.viberent_item_layout .btnAddAction:disabled {
    background-color: #dddddd !important;
    color: white !important;
}

.viberent_item_layout .item-details .buy-items-btn {
    display: flex !important;
    justify-content: left !important;
    margin: auto !important;
}

.viberent_item_layout .item-category-box {
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    color: #4d96d5 !important;
    box-sizing: border-box !important;
    background: #ffffff !important;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 18%) !important;
    display: flex !important;
    margin: 0 !important;
    flex: 1 1 100% !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
}

.viberent_item_layout .main-container .rental-period {
       -webkit-text-size-adjust: 100% !important;
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
       font-size: 18px !important;
       color: white !important;
       box-sizing: border-box !important;
       background: #4d96d5 !important;
       box-shadow: 0 1px 4px 0 rgb(0 0 0 / 18%) !important;
       text-align:center !important;
       position: relative !important;
       border-radius: 5px !important;
}

.viberent_item_layout .rental-period input, .viberent_item_layout .rental-period select {
    padding: 0 5px !important;
    position: relative !important;
    width: 160px !important;
    height: 25px !important;
    line-height: 1 !important;
    border: 1px solid !important;
    margin-top: 0 !important;
    background-color: #fff !important;
	color: #000;
}

.viberent_item_layout .rental-period input:before {
    position: absolute !important;
    top: 3px !important;
    left: 3px !important;
    content: attr(data-date) !important;
    display: inline-block !important;
    color: black !important;
}

.viberent_item_layout .rental-period input::-webkit-datetime-edit,
.viberent_item_layout .rental-period input::-webkit-inner-spin-button,
.viberent_item_layout .rental-period input::-webkit-clear-button {
    display: none !important;
}

.viberent_item_layout .rental-period input::-webkit-calendar-picker-indicator {
    position: absolute !important;
    top: 0px !important;
    right: 0 !important;
    color: black !important;
    opacity: 1 !important;
}

.viberent_item_layout .product-available {
    color: black !important;
    font-size: 18px !important;
    margin: 0 !important;
    padding: 5px 0 !important;
}

.viberent_item_layout .item-summary {
    color: dimgray !important;
	padding: 20px 0 0px 0;
}

.viberent_item_layout .item-summary .minimize .less, .viberent_item_layout .item-summary .minimize .more{
	color: #007bff;
}

.viberent_item_layout .product-quantity-message {
    color: red !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0px !important;
}

@media screen and (max-width: 992px) {
    .viberent_item_layout .product-image {
        width: 35% !important;
    }
}

@media screen and (max-width: 450px) {
   .viberent_item_layout .item-details * {
    font-size: 18px !important;
   }
   .viberent_item_layout .btnAddAction {
    padding: 5px 10px !important;
   }
}

@media screen and (max-width: 767px) {
    .viberent_item_layout .new-booking {
        margin: 5px 0 !important;
    }
}

@media screen and (max-width: 620px) {
   .viberent_item_layout .viberent_carts {
      justify-content: left !important;
   }
   .viberent_item_layout .btn_mycart {
     position: static;
   }
}
