.viberent_my_cart {
    background-color: white;
    min-height: 500px;
}

.viberent_my_cart .quantity-submit {
    display: none !important;
}

.viberent_my_cart .viberent_cart_quantity {
    margin: auto;
}

header {
  position: relative !important;
}

.viberent_my_cart .viberent_shop_now,
.viberent_my_cart .viberent_shop_now:hover {
    text-decoration: none !important;
    text-transform: unset !important;
}

.viberent_my_cart .tbl-cart {
    font-size: 14px !important;
    table-layout: auto;
    width: 100%;
    background-color: #F0F0F0;
    margin: 10px 0 !important;

}

.viberent_my_cart #shopping-cart table td {
   background-color: #FFFFFF;
}

.viberent_my_cart #shopping-cart table th,
.viberent_my_cart #shopping-cart table td {
   border: 1px solid #F0F0F0 !important;
   word-break: normal;
}

.viberent_my_cart .cart-item-image{
    max-width: 50px;
}

.viberent_my_cart #shopping-cart{
    overflow: auto;
}

.btnRemoveAction img{
    display: inline-block;
}
.viberent_my_cart #my-shopping-cart+hr {
   margin: 10px 0 0 0;
}

.viberent_my_cart #my-shopping-cart {
   display: flex !important;
   justify-content: right;
}

.viberent_my_cart #btnEmpty {
   background-color: #ffffff;
   border: #d00000 1px solid;
   padding: 5px 10px;
   color: #d00000;
   float: right;
   text-decoration: none;
   border-radius: 3px;
   font-size: 17px;
}

.viberent_my_cart .cart-item-image {
   width: 50px !important;
   height: 50px !important;
   border-radius: 50%;
   border: #E0E0E0 1px solid;
   padding: 5px;
   vertical-align: middle;
   margin-right: 15px;
}

.viberent_my_cart #btn_place_order {
   padding: 0 20px !important;
   background-color: #4d96d5 !important;
   border: none !important;
   cursor: pointer !important;
   float: right !important;
   margin-top: 40px !important;
   text-transform: unset !important;
}

.viberent_my_cart #btn_place_order h5 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: unset;
    color: white !important;
}

.viberent_my_cart #btn_place_order:hover {
    text-decoration: unset;
}
.viberent_my_cart #btn_place_order h2 {
   margin: 10px;
}

.viberent_my_cart .has-badge[data-count]:after {
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 20px;
    padding: 0;
    line-height: .75em;
    text-align: center;
}

.viberent_my_cart .my_cart_heading {
    color: green;
    font-weight: 600;
    padding: 0 !important;
    font-size: 24px;
}

.viberent_my_cart span {
    cursor: pointer;
}

.viberent_my_cart .number {
    margin: 10px;
    width: 100px;
}

.viberent_my_cart .minus, .viberent_my_cart .plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 0px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.viberent_my_cart .cart_page input {
    height: 30px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    padding: 1px 5px;
}

.viberent_my_cart .cart_page input:hover{
       padding: 1px 5px;
}

.viberent_my_cart .tbl-cart th {
   background-color: #4d96d5 !important;
   color: white !important;
   font-weight: 600 !important;
   font-size: 16px !important;
   padding: 5px !important;
   margin: 0 !important;
}

.viberent_my_cart .tbl-cart tbody td {
   background-color: white !important;
   color: black !important;
   font-weight: 500 !important;
   font-size: 16px !important;
   padding: 5px !important;
   margin: 0 !important;
}

.viberent_my_cart .tbl-cart tr:not(:last-child) td:first-child {
   display: flex;
}

.viberent_my_cart #btn_place_order[disabled] {
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .5;
}

.viberent_my_cart .no-records {
   text-align: center;
   clear: both;
}

.viberent_my_cart .no-records .btn-primary{
   font-size:24px !important;
       text-decoration: unset;
}

@media screen and (max-width: 992px) {
    .viberent_my_cart .tbl-cart tr:not(:last-child) td:first-child {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
   .parent-flex .backButton{
         margin: 0 0 0px 0;
   }
}